*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/secrets.yml

## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json
.secret
.idea/.generators
.idea/.name
.idea/.rakeTasks
.idea/dataSources.ids
.idea/dataSources.xml
.idea/encodings.xml
.idea/lev-ehad.iml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations/Development__lev_ehad.xml
.idea/runConfigurations/Production__lev_ehad.xml
.idea/runConfigurations/spec__lev_ehad.xml
.idea/runConfigurations/test__lev_ehad.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
