<div ng-app="allocationModule">
    <div class="row" ng-controller="MainCtrl">

        <div class="col-md-4">
            <input id="current_day" type="text" pikaday="pikadayObject"  class="form-control"/>
            <div>
                <table class="table table-hover data-grid">
                    <thead>
                        <tr>
                            <td>שם פרטי</td>
                            <td>שם משפחה</td>
                            <td>כתובת</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="volunteer in volunteers" ng-click="onVolunteerClicked(volunteer)">
                            <td>{{volunteer.first_name}}</td>
                            <td>{{volunteer.last_name}}</td>
                            <td>{{volunteer.address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="volunteersGrid" ui-grid="volunteersGridOptions" class="grid" dir="rtl" ui-grid-pinning></div>
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="panel panel-default">
                  <div class="panel-heading">פרטי מתנדב</div>

                  <ul class="list-group">
                      <li class="list-group-item" ng-repeat="(key, value) in volunteer">
                        <span class="field_name">
                            {{volunteerFieldMapping[key]}}:
                        </span>
                        {{value}}
                    </li>
                  </ul>
                </div>
            </div>

            <div class="row">
                <h1>Hamals</h1>
            </div>
        </div>

    </div>
</div>

<%= stylesheet_link_tag "allocation" %>
<%= javascript_include_tag "allocation" %>

