// Place all the styles related to the AllocationRequest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.allocationRequestForm {
  width: 500px;
  clear: both;
}
.allocationRequestForm input {
  width: 100%;
  clear: both;
}