/*
 * Overwritten by RailsBricks
 *
 *= require_self
 *= require pikaday
 *= require toastr
 */
@import "railsbricks_custom";
@import "bootstrap-rtl";
@import "flat-ui";



/*
 *= require rails_bootstrap_forms
 */

body {
    font-family: 'Alef', sans-serif !important;
    font-size: 16px !important;
}


.grid {
    height: 100%;
}
