/*
 * Overwritten by RailsBricks
 *
 *= require_self
 *= require pikaday
 *= require toastr
 */
@import "railsbricks_custom";
@import "bootstrap-rtl";
@import "flat-ui";



/*
 *= require rails_bootstrap_forms
 */

body {
    font-family: 'Alef', sans-serif !important;
    font-size: 16px !important;
}

#wrap > .fluid-container {
	padding-right: 37px;
	padding-left: 30px;
}

.grid {
    height: 100%;
}

.home-center {
	padding: 48px 0;
}

#footer {
	font-size: 12px;
	text-align: center;
}