// Place all the styles related to the Volunteer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.volunteerForm {
  width: 500px;
  clear: both;
}
.volunteerForm input {
  width: 100%;
  clear: both;
}